/**
 *
 */

.goingmerry-bg {
	background-image: url('../goingmerry-bg2.jpg');
	background-size: cover;
	position: relative;
	height: 100vh;
}

.will-comming {
	position: absolute;
	color: #FBFFE0;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}
